

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color:#def4f0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.container
{
    
    max-width: 100%;
    background-color: #9a1f40;
}
   
.logo
{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.logo img
{
    max-width: 80%;
}
.responsive_nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 10%;
    margin: auto;
  
}
.responsive_nav:hover > .menu
{
   display: flex;
    
}
.menu
{
    display: none;
 
   
    
}
.menu ul
{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0.5em;
  max-width: 40%;
  position: absolute;
  background-color: seashell;
  
}

.menu li
{
    padding: 1em;
    color: firebrick;
    cursor: pointer;
   
}

.menu li:hover
{
    color:forestgreen;
    background-color: rgb(190, 190, 190);
    
}
.container_seccion_principal
{
    
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.clsarticle
{
    background-color: #74d4c0;
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clsarticle img
{
    max-width: 50%;
    padding: 1em;
   
}

.title_article
{
    align-self: start;
    padding: 1em;
}

.clsboton
{
    background-color: rgb(0, 94, 47);
    padding: 0.5em;
    font-size: 0.8em;
    color: white;
    margin: 0.5em;
    max-width: 60%;
}
.clsboton:hover
{
    background-color: rgb(134, 204, 146);
    color: black;
    
}
.container_footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: #d9455f;

}
.clstitle_footer
{
    font-size: 1em;
    align-self: flex-start;
    display: flex;
    padding: 0.8em;
    width: max-content  ;
}
#footer_contacto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

#datoscontacto
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer_marcas
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#footer_videos
{
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;    
}
#copyrigth_footer
{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
#footer_social
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/******************************query de 768 a mas****************/
@media (min-width: 768px)
{
    .container_footer
    {
        flex-direction: row;
        align-items: flex-start;
    }
    .clstitle_footer
  {
      flex-direction: row;
      align-self: center;   
  }
}
/**********************query de 1024 a mas*******************************/

@media (min-width: 1024px)
{
    .responsive_nav
    {
       max-width: 100%;
       color: #9a1f40;
    }
    .menu
    {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }
    .menu ul
    {
        flex-direction: row;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 100%;
    }
}

/*****************************query de 1440 a mas***************************/
@media (min-width: 1440px)
{
  #container_videos_footer
  {
      display: flex;
      flex-direction: row;
      
  }
  .video_small
  {
      margin-right: 0.5em;
  }
  #datoscontacto
  {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
  }
  .container_seccion_principal
  {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
  }
  .clsarticle
  {
      width: 30%;
  }

}